$header-bg-color: #4c4b5e;
$navbar-link-color: #96969e;

$left-navbar-color: #fafafa;

$breadcrumb-bg-color: #f5f5f5;
$breadcrumb-color: #928d8d;
$breadcrumb-acrive-color: #313131;
$lower-footer-bg-color: #ff3957;

$title-color: #313131;
$question-color: #4c4b5e;

$subtext-color: #4d4d60;

$advantages-color: #f1f5f8;
$abbr-color: #ff3957;

$text-alert-color: #ff3957;

$benefit-digit-color: #ff3957;

$translator-bg-color: #f5f5f5;

$footer-bg-color: #4d4d5f;


$logo-color: #fff;
$letter-red-color: #ff3a58;
$small-color: #bcbcc3;