@font-face{
  font-family: 'Clear-Sans-Regular';
  src: url('../../fonts/clearsans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Clear-Sans-Bold';
  src: url('../../fonts/clearsansbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Clear-Sans-Bold';
  src: url('../../fonts/clearsansbold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Clear-Sans-Medium';
  src: url('../../fonts/clearsansmedium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Bebas Neue';
  src: url('../../fonts/bebasneueregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,500,700&subset=cyrillic');
